@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans+Condensed&family=Heebo&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #8F8EBF;
}

.quiz-box {
    width: 50rem;
    height: 50rem;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: 'Abel', sans-serif;
    color: #2E4159;
}

#question {
    font-size: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #2E4159;
}

.answer {
    font-size: 2rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #2E4159;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #2E4159;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.answer:hover {
    cursor: pointer;
    background-color: #8F8EBF;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}