@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans+Condensed&family=Heebo&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #8F8EBF;
}

.quiz-box {
    width: 50rem;
    height: 50rem;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: 'Abel', sans-serif;
    color: #474073;
}