@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans+Condensed&family=Heebo&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #8F8EBF;
}

.quiz-box {
    width: 60rem;
    height: 60rem;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: 'Abel', sans-serif;
    color: #2E4159;
}

#question {
    font-size: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #2E4159;
}

.answer {
    font-size: 1.5rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #2E4159;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #2E4159;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}

.answer:hover {
    cursor: pointer;
    background-color: #8F8EBF;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    padding: 2rem;
    font-size: 1rem;
    color: #2E4159;
    font-family: 'Heebo', sans-serif;
}

.button {
    font-size: 2rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #2E4159;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #2E4159;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}

.button:hover {
    cursor: pointer;
    background-color: #8F8EBF;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }

  #saveScoreBtn:disabled {
      background-color: aquamarine;
  }